// Lightning Design System 2.11.4
// stylelint-disable selector-class-pattern
.docs-codeblock-example .slds-global-header_container {
  position: absolute;
}

.docs-codeblock-example .slds-global-actions__item {
  list-style: none;
}
