article{

    padding: 1rem;
}

h2{
    font-weight: bold;
}

.drop-zone{

    background-color: rgb(243, 243, 243);
}

.active{

    border: 3px solid green;
}

.inactive{

    border: 2px dashed rgb(158, 158, 158);
}

.inactive:hover{

    border: 1px solid grey;
}

header {

    border-bottom: 1px solid lightgray;
}

footer{

    border-top: 1px solid lightgray;
}